<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">Edited by<span class="hidden-xs"> Maximus Huynh </span> © smartAdmin 2017 </span>
        </div>
    </div>
</div>