<aside id="left-panel">

   <!-- User info -->
   <div class="login-info">
      <span>
         <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
         <img src="img/avatars/chibi.png" alt="me" class="online"> 
         <span> Administrator </span>
         <i class="fa fa-angle-down"></i>
         </a>
      </span>
   </div><!-- end user info -->

   <!-- NAVIGATION : This navigation is also responsive-->
   <nav>
      <ul>
         <li class="active open">
            <a href="#" title="Dashboard">
            <i class="fa fa-lg fa-fw fa-home"></i> 
            <span class="menu-item-parent">Dashboard</span>
            <b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b></a>
            <ul style="display: block;">
               <li class="active">
                  <a href="index.html" title="Dashboard"><span class="menu-item-parent">Analytics Dashboard</span></a>
               </li>
               <li class="">
                  <a href="dashboard-social.html" title="Dashboard"><span class="menu-item-parent">Social Wall</span></a>
               </li>
            </ul>
         </li>
         <li>
            <a href="inbox.html"><i class="fa fa-lg fa-fw fa-inbox"></i> 
            <span class="menu-item-parent">Outlook</span> 
            <span class="badge pull-right inbox-badge margin-right-13">14</span></a>
         </li>
         <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> 
            <span class="menu-item-parent">Miscellaneous</span>
            <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
            <ul>
               <li>
                  <a href="../Landing_Page/" target="_blank">Landing Page <i class="fa fa-external-link"></i></a>
               </li>
               <li>
                  <a href="pricing-table.html">Pricing Tables</a>
               </li>
               <li>
                  <a href="invoice.html">Invoice</a>
               </li>
               <li>
                  <a href="login.html" target="_top">Login</a>
               </li>
               <li>
                  <a href="register.html" target="_top">Register</a>
               </li>
               <li>
                  <a href="forgotpassword.html" target="_top">Forgot Password</a>
               </li>
               <li>
                  <a href="lock.html" target="_top">Locked Screen</a>
               </li>
               <li>
                  <a href="error404.html">Error 404</a>
               </li>
               <li>
                  <a href="error500.html">Error 500</a>
               </li>
               <li>
                  <a href="blank_.html">Blank Page</a>
               </li>
            </ul>
         </li>
      </ul>
   </nav>

   <span class="minifyme" data-action="minifyMenu"> 
        <i class="fa fa-arrow-circle-left hit"></i> 
   </span>
    
</aside>

<!-- SHORTCUT AREA -->
<div id="shortcut">
   <ul>
      <li>
         <a href="inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> 
         <span class="iconbox"> 
         <i class="fa fa-envelope fa-4x"></i> 
         <span> Mail 
         <span class="label pull-right bg-color-darken">14</span>
         </span>
         </span>
         </a>
      </li>
      <li>
         <a href="calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> 
         <span class="iconbox"> 
         <i class="fa fa-calendar fa-4x"></i> 
         <span>Calendar</span> 
         </span> 
         </a>
      </li>
      <li>
         <a href="gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> 
         <span class="iconbox"> 
         <i class="fa fa-map-marker fa-4x"></i> 
         <span>Maps</span> 
         </span> 
         </a>
      </li>
      <li>
         <a href="invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> 
         <span class="iconbox"> 
         <i class="fa fa-book fa-4x"></i> 
         <span> Invoice 
         <span class="label pull-right bg-color-darken">99</span> 
         </span> 
         </span> </a>
      </li>
      <li>
         <a href="gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> 
         <span class="iconbox"> 
         <i class="fa fa-picture-o fa-4x"></i> 
         <span> Gallery </span> 
         </span> 
         </a>
      </li>
      <li>
         <a href="profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> 
         <span class="iconbox"> 
         <i class="fa fa-user fa-4x"></i> 
         <span>My Profile </span> 
         </span> 
         </a>
      </li>
   </ul>
</div>
<!-- END SHORTCUT AREA -->